x-PROPERTIES:
  environment: &PROPERTIES_ENV
    # ______ Minecraft 'server.properties' 参数 ______
    # 参阅链接 -> https://docker-minecraft-server.readthedocs.io/en/latest/variables/
    #   在这里设置 'server.properties' 参数
    #   简易列名转换规则：
    #   1. 将所有列名替换为大写字母 (A-Z)。
    #   2. 将所有列名中的中间连字符 (-) 替换为下划线 (_)。

    ACCEPTS_TRANSFERS: false
    ALLOW_FLIGHT: true
    BROADCAST_CONSOLE_TO_OPS: false
    BROADCAST_RCON_TO_OPS: true
    ENABLE_RCON: true
    ENFORCE_SECURE_PROFILE: false
    FORCE_GAMEMODE: true
    HARDCORE: false
    ONLINE_MODE: true
    SYNC_CHUNK_WRITES: false

    BUG_REPORT_LINK: ""
    DIFFICULTY: "hard"
    GAMEMODE: "survival"
    GENERATOR_SETTINGS: ""
    OP_PERMISSION_LEVEL: 3
    SPAWN_PROTECTION: -1

    SERVER_NAME: ${SERVER_NAME:?'[properties] 未设置 SERVER_NAME.'}
    MOTD: "A Minecraft Server build by Docker-Compose"
    RCON_PASSWORD: ${RCON_PASSWORD:?'[properties] 未设置 RCON_PASSWORD.'}
    REGION_FILE_COMPRESSION: "lz4"  # 其它选项: deflate(原默认), lz4, none

    ADMIN_SLOT: true

services:
  mc-server:
    environment:
      <<: *PROPERTIES_ENV
