x-PROPERTIES:
  environment: &PROPERTIES_ENV
    # ______ Minecraft 'server.properties' 参数 ______
    # 参阅链接 -> https://docker-minecraft-server.readthedocs.io/en/latest/variables/
    # 参阅链接 -> https://minecraft.wiki/w/Server.properties
    #   在这里设置 'server.properties' 参数
    #   简易列名转换规则：
    #   1. 将所有列名替换为大写字母 (A-Z)。
    #   2. 将所有列名中的中间连字符 (-) 替换为下划线 (_)。

    INIT_MEMORY: "8G"
    MAX_MEMORY: "16G"

    EULA: true
    VERSION: ${MC_VERSION:?'[docker-compose.properties] 未设置 MC_VERSION.'} # Minecraft 版本
    MOTD: "A Minecraft Server build by Docker-Compose"
    DIFFICULTY: "hard"
    ICON: ${./icon/${MC_SERVER_ICON_NAME}:-"./icon/icon.png"}  # 服务器图标路径 (相对于 /data 目录)，留空则不使用图标
    OVERRIDE_ICON: true
    FORCE_GAMEMODE: true
    HARDCORE: false
    SPAWN_PROTECTION: 0
    MODE: "survival"
    PVP: true
    ONLINE_MODE: true
    ALLOW_FLIGHT: true
    SERVER_NAME: ${SERVER_NAME:?'[docker-compose.properties] 未设置 SERVER_NAME.'} # 服务器名称
    SERVER_PORT: ${MC_SERVER_PORT:?'[docker-compose.properties] 未设置 MC_SERVER_PORT.'} # 服务器端口
    SYNC_CHUNK_WRITES: false
    OP_PERMISSION_LEVEL: 3
    EXEC_DIRECTLY: true
    STOP_SERVER_ANNOUNCE_DELAY: 10 # 服务器关闭前的公告延迟时间（秒）
    GUI: false

    ENABLE_RCON: true
    RCON_PASSWORD: ${RCON_PASSWORD:?'[docker-compose.properties] 未设置 RCON_PASSWORD.'}
    RCON_PORT: ${MC_RCON_PORT:?'[docker-compose.properties] 未设置 MC_RCON_PORT.'}
    BROADCAST_RCON_TO_OPS: true

    # 镜像文档未介绍但MC官网properties参数详解存在的参数(配置后可能不起作用, 但万一呢)
    ADMIN_SLOT: true
    BROADCAST_CONSOLE_TO_OPS: true
    REGION_FILE_COMPRESSION: "lz4"  # 其它选项: deflate(原默认), lz4, none

services:
  mc-server:
    environment:
      <<: *PROPERTIES_ENV
