# ./mc-server-compose-deploy/docker-compose.yml

# === BEGIN === PROPERTIES CONFIG === BEGIN === #
# === BEGIN === PROPERTIES CONFIG === BEGIN === #
# === BEGIN === PROPERTIES CONFIG === BEGIN === #
x-PROPERTIES:
  environment: &PROPERTIES_ENV
#     ______ Minecraft 'server.properties' 参数 ______
#     参阅链接 -> https://docker-minecraft-server.readthedocs.io/en/latest/variables/
#     参阅链接 -> https://minecraft.wiki/w/Server.properties
#     在这里设置 'server.properties' 参数
#     简易列名转换规则：
#       1. 将所有列名替换为大写字母 (A-Z).
#       2. 将所有列名中的中间连字符 (-) 替换为下划线 (_).
#       3. 保证缩进一致.
#     例如:
    ICON: ${MC_SERVER_ICON_NAME}  # 服务器图标路径 (在 /docker-compose/servers/${MC_SERVER_NAME}/server 目录中)
    OVERRIDE_ICON: true
    MOTD: "${MC_SERVER_NAME} A Minecraft Server build by Docker-Compose"

#    DIFFICULTY: "hard"
#    FORCE_GAMEMODE: true
#    HARDCORE: false
#    SPAWN_PROTECTION: 0
#    MODE: "survival"
#    ONLINE_MODE: false
#    ALLOW_FLIGHT: true
    SYNC_CHUNK_WRITES: false
    OP_PERMISSION_LEVEL: 3
    EXEC_DIRECTLY: true
    STOP_SERVER_ANNOUNCE_DELAY: 10 # 服务器关闭前的公告延迟时间 (秒) 
    GUI: false

    # 镜像文档未介绍但 MC 官网 properties 参数详解存在的参数 (配置后可能不起作用, 但万一呢)
    ADMIN_SLOT: true
    BROADCAST_CONSOLE_TO_OPS: true
    REGION_FILE_COMPRESSION: "lz4"  # 其它选项: deflate(原默认), lz4, none

# === END === PROPERTIES CONFIG === END === #
# === END === PROPERTIES CONFIG === END === #
# === END === PROPERTIES CONFIG === END === #



# ====== SERVICES ====== #
# ====== SERVICES ====== #
# ====== SERVICES ====== #
name: ${MC_SERVER_NAME:?'[Param set] No SERVER_NAME set.'}
services:
  mc-restore-backup:
#     [______ MC Restore Backup ______]
#     如果没有现有的服务器文件夹，它会恢复最新的备份
    image: itzg/mc-backup:latest
    container_name: mc-restore-backup
    restart: no
    entrypoint: restore-tar-backup
    volumes:
      - ./servers/${MC_SERVER_NAME}/server:/data
      - ./servers/${MC_SERVER_NAME}/server-backups:/backups
    networks:
      - mc-network

  mc-server:
#     [______ MC Server ______]
#     关于 mc-server：
#     它应该通过 docker compose -f 子命令进行扩展.
#
#     扩展 Forge 的示例：
#     ```shell
#     docker compose -f docker-compose.yml -f docker-compose.forge.yml up -d
#     ```
    image: itzg/minecraft-server:latest
    container_name: mc-server
    depends_on:
      mc-restore-backup:
        condition: service_completed_successfully
    healthcheck:
      test: mc-health
      start_period: ${START_PERIOD:-'3m'}
      start_interval: ${START_INTERVAL:-'10s'}
      interval: 10s
      retries: 20
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - ./servers/${MC_SERVER_NAME}/server:/data
    environment:
      GENERIC_PACK: ./compose/packs/${GENERIC_PACK}
      MODPACK: ./compose/packs/${MODPACK}
      SKIP_GENERIC_PACK_UPDATE_CHECK: ${SKIP_GENERIC_PACK_UPDATE_CHECK:-'true'}
      SKIP_GENERIC_PACK_CHECKSUM: ${SKIP_GENERIC_PACK_CHECKSUM:-'true'}
      EULA: true
      VERSION: ${MC_VERSION:?'[docker-compose.properties] 未设置 MC_VERSION.'} # Minecraft 版本
      INIT_MEMORY: ${MC_INIT_MEMORY:?'[docker-compose.properties] 未设置 MC_INIT_MEMORY.'}
      MAX_MEMORY: ${MC_MAX_MEMORY}
      SERVER_NAME: ${MC_SERVER_NAME:?'[docker-compose.properties] 未设置 MC_SERVER_NAME.'}
      SERVER_PORT: ${MC_SERVER_PORT:?'[docker-compose.properties] 未设置 MC_SERVER_PORT.'}
      ENABLE_RCON: true
      RCON_PASSWORD: ${RCON_PASSWORD:?'[docker-compose] 未设置 RCON_PASSWORD.'}
      RCON_PORT: ${MC_RCON_PORT:?'[docker-compose] 未设置 MC_RCON_PORT.'}
      BROADCAST_RCON_TO_OPS: true
      <<: *PROPERTIES_ENV
    ports:
      - "${MC_SERVER_PORT:?'[docker-compose][mc-server] 未设置 MC_SERVER_PORT'}:${MC_SERVER_PORT}"
      - "${MC_RCON_PORT:?'[docker-compose][mc-server] 未设置 MC_RCON_PORT.'}:${MC_RCON_PORT}"
    networks:
      mc-network:
        aliases:
          - mc-server
      mc-internal-network:
        aliases:
          - mc-server-internal

  mc-backup:
    # [______ MC Backup ______]
    image: itzg/mc-backup:latest
    container_name: mc-backup
    depends_on:
      mc-server:
        condition: service_healthy
    restart: unless-stopped
    environment:
      SRC_DIR: "/data"
      DEST_DIR: "/backups"
      RCON_HOST: "mc-server"
      RCON_PORT: ${MC_RCON_PORT}
      RCON_PASSWORD: ${RCON_PASSWORD:?'[MC-Backup] 未设置 RCON_PASSWORD.'}
      CRON_SCHEDULE: ${CRON_SCHEDULE:?'[MC-Backup] 未设置 CRON_SCHEDULE.'} # 例：0 */6 * * * 每 6 小时备份一次
    volumes:
      - ./servers/${MC_SERVER_NAME}/server:/data
      - ./servers/${MC_SERVER_NAME}/server-backups:/backups
    networks:
      - mc-network

  mc-monitor:
    # [______ MC Monitor ______]
    image: itzg/mc-monitor:latest
    container_name: mc-monitor
    depends_on:
      mc-server:
        condition: service_started
    restart: unless-stopped
    command:
      - "export-for-prometheus"
      - "-servers=mc-server:${MC_SERVER_PORT}"
      - "-port=8888"
      - "-timeout=1m"
    environment:
      DEBUG: "true"
    networks:
      mc-internal-network:
        aliases:
          - mc-monitor-internal

  mc-cadvisor:
    # [______ Cadvisor (Docker) ______]
    image: gcr.io/cadvisor/cadvisor:latest
    container_name: mc-cadvisor
    depends_on:
      mc-server:
        condition: service_started
    restart: unless-stopped
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro # CPU 和 内存 使用情况
      - /var/run:/var/run:ro # 容器列表延迟 与 新增容器检测
      - /dev/disk:/dev/disk:ro # 磁盘使用情况
      - /var/lib/docker:/var/lib/docker:ro # Docker 镜像和容器信息
    command:
      - --port=8889
      - --housekeeping_interval=10s # 采样周期 10 秒
      - --max_housekeeping_interval=60s
      - --global_housekeeping_interval=60s
      - --allow_dynamic_housekeeping=false # 固定 10 s，不自动降频
      - --disable_metrics=tcp,udp,percpu,hugetlb,process,referenced_memory
      - --docker_only=true # 只监控 Docker，节省开销
      - --store_container_labels=false # 不保存容器标签，减少基数
    devices:
      - /dev/kmsg
    privileged: true
    networks:
      mc-internal-network:
        aliases:
          - mc-cadvisor-internal

  mc-prometheus:
    # [______ MC Prometheus ______]
    image: prom/prometheus:latest
    container_name: mc-prometheus
    depends_on:
      mc-monitor:
        condition: service_started
      mc-cadvisor:
        condition: service_started
    restart: unless-stopped
    volumes:
      - ./compose/config/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./servers/${MC_SERVER_NAME}/prometheus:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
      - "--storage.tsdb.retention.time=7d"
    networks:
      mc-internal-network:
        aliases:
          - mc-prometheus-internal

  mc-grafana:
    # [______ MC Grafana ______]
    image: grafana/grafana:latest
    container_name: mc-grafana
    depends_on:
      mc-prometheus:
        condition: service_started
    restart: unless-stopped
    environment:
      - GF_DEFAULT_LOCALE=zh-CN
      - GF_VIEWER_LANGUAGE=zh-CN
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD:-admin}
      - GF_SECURITY_ALLOW_EMBEDDING=true
      - GF_SECURITY_DISABLE_INITIAL_ADMIN_CREATION=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_DISABLE_LOGIN_FORM=false
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Viewer
      - GF_SERVER_HTTP_PORT=3000
      - GF_USERS_ALLOW_SIGN_UP=true
      - GF_DASHBOARDS_ALLOW_ADMIN=true
      - GF_EXPLORE_ENABLE=true
    volumes:
      - ./compose/config/grafana/provisioning:/etc/grafana/provisioning
      - ./servers/${MC_SERVER_NAME}/grafana/data:/var/lib/grafana
    ports:
      - ${GF_SERVER_HTTP_PORT}:3000 # Grafana Web UI
    networks:
      mc-network:
        aliases:
          - mc-grafana
      mc-internal-network:
        aliases:
          # - mc-grafana
          - mc-grafana-internal

networks:
  mc-network:
    name: mc-network
    driver: bridge
  mc-internal-network:
    name: mc-internal-network
    driver: bridge
    internal: true